body {
    background-color: #efefef;
}
a {
    background: none center left no-repeat;
    padding-left: 24px;
    text-decoration: none;
    line-height: 2;
}
span {
    margin-left: 10px;
    color: rgb(150, 150, 150);
}